---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/rtm.start
    body:
      encoding: UTF-8
      string: token=xoxb-703864578774-701247943876-CjL5WUkXYcMF9SDfOtL31hcN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - rtm:stream,client
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Slack-Req-Id:
      - 6989473c-bc9b-4c00-84fb-cc2ca26e055c
      X-Via:
      - haproxy-www-zye0
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"self":{"id":"ULM79TRRS","name":"nflbot","prefs":{"user_colors":"","color_names_in_list":true,"keyboard":null,"email_alerts":"instant","email_alerts_sleep_until":0,"email_tips":true,"email_weekly":true,"email_offers":true,"email_research":true,"email_developer":true,"welcome_message_hidden":false,"search_sort":"not_set","search_file_sort":"score","search_channel_sort":"relevant","search_people_sort":"relevant","expand_inline_imgs":true,"expand_internal_inline_imgs":true,"expand_snippets":false,"posts_formatting_guide":true,"seen_welcome_2":false,"seen_ssb_prompt":false,"spaces_new_xp_banner_dismissed":false,"search_only_my_channels":false,"search_only_current_team":false,"search_hide_my_channels":false,"search_only_show_online":false,"search_hide_deactivated_users":false,"emoji_mode":"default","emoji_use":"","has_invited":false,"has_uploaded":false,"has_created_channel":false,"has_searched":false,"search_exclude_channels":"","messages_theme":"default","webapp_spellcheck":true,"no_joined_overlays":false,"no_created_overlays":false,"dropbox_enabled":false,"seen_domain_invite_reminder":false,"seen_member_invite_reminder":false,"mute_sounds":false,"arrow_history":false,"tab_ui_return_selects":true,"obey_inline_img_limit":true,"require_at":false,"ssb_space_window":"","mac_ssb_bounce":"","mac_ssb_bullet":true,"expand_non_media_attachments":true,"show_typing":true,"pagekeys_handled":true,"last_snippet_type":"","display_real_names_override":0,"display_display_names":true,"time24":true,"enter_is_special_in_tbt":false,"msg_input_send_btn":false,"msg_input_send_btn_auto_set":false,"graphic_emoticons":false,"convert_emoticons":true,"ss_emojis":true,"seen_onboarding_start":false,"onboarding_cancelled":false,"seen_onboarding_slackbot_conversation":false,"seen_onboarding_channels":false,"seen_onboarding_direct_messages":false,"seen_onboarding_invites":false,"seen_onboarding_search":false,"seen_onboarding_recent_mentions":false,"seen_onboarding_starred_items":false,"seen_onboarding_private_groups":false,"seen_onboarding_banner":false,"onboarding_slackbot_conversation_step":0,"set_tz_automatically":false,"dnd_enabled":true,"dnd_start_hour":"22:00","dnd_end_hour":"8:00","dnd_before_monday":"8:00","dnd_after_monday":"22:00","dnd_enabled_monday":"partial","dnd_before_tuesday":"8:00","dnd_after_tuesday":"22:00","dnd_enabled_tuesday":"partial","dnd_before_wednesday":"8:00","dnd_after_wednesday":"22:00","dnd_enabled_wednesday":"partial","dnd_before_thursday":"8:00","dnd_after_thursday":"22:00","dnd_enabled_thursday":"partial","dnd_before_friday":"8:00","dnd_after_friday":"22:00","dnd_enabled_friday":"partial","dnd_before_saturday":"8:00","dnd_after_saturday":"22:00","dnd_enabled_saturday":"partial","dnd_before_sunday":"8:00","dnd_after_sunday":"22:00","dnd_enabled_sunday":"partial","dnd_days":"every_day","dnd_custom_new_badge_seen":false,"dnd_notification_schedule_new_badge_seen":false,"unread_collapsed_channels":null,"sidebar_behavior":"","channel_sort":"default","separate_private_channels":false,"separate_shared_channels":true,"sidebar_theme":"default","sidebar_theme_custom_values":"","no_invites_widget_in_sidebar":false,"no_omnibox_in_channels":false,"k_key_omnibox_auto_hide_count":0,"show_sidebar_quickswitcher_button":false,"ent_org_wide_channels_sidebar":true,"mark_msgs_read_immediately":true,"start_scroll_at_oldest":true,"snippet_editor_wrap_long_lines":false,"ls_disabled":false,"f_key_search":false,"k_key_omnibox":true,"prompted_for_email_disabling":false,"no_macelectron_banner":false,"no_macssb1_banner":false,"no_macssb2_banner":false,"no_winssb1_banner":false,"hide_user_group_info_pane":false,"mentions_exclude_at_user_groups":false,"mentions_exclude_reactions":false,"privacy_policy_seen":true,"enterprise_migration_seen":true,"last_tos_acknowledged":null,"search_exclude_bots":false,"load_lato_2":false,"fuller_timestamps":false,"last_seen_at_channel_warning":0,"emoji_autocomplete_big":false,"two_factor_auth_enabled":false,"two_factor_type":null,"two_factor_backup_type":null,"hide_hex_swatch":false,"show_jumper_scores":false,"enterprise_mdm_custom_msg":"","enterprise_excluded_app_teams":null,"client_logs_pri":"","flannel_server_pool":"random","mentions_exclude_at_channels":true,"confirm_clear_all_unreads":true,"confirm_user_marked_away":true,"box_enabled":false,"seen_single_emoji_msg":false,"confirm_sh_call_start":true,"preferred_skin_tone":"","show_all_skin_tones":false,"whats_new_read":1563794188,"frecency_jumper":"","frecency_ent_jumper":"","frecency_ent_jumper_backup":"","jumbomoji":true,"newxp_seen_last_message":0,"show_memory_instrument":false,"enable_unread_view":false,"seen_unread_view_coachmark":false,"enable_react_emoji_picker":true,"seen_custom_status_badge":false,"seen_custom_status_callout":false,"seen_custom_status_expiration_badge":false,"used_custom_status_kb_shortcut":false,"seen_guest_admin_slackbot_announcement":false,"seen_threads_notification_banner":false,"seen_name_tagging_coachmark":false,"all_unreads_sort_order":"","locale":"en-GB","seen_intl_channel_names_coachmark":false,"seen_p2_locale_change_message":0,"seen_locale_change_message":0,"seen_japanese_locale_change_message":false,"seen_shared_channels_coachmark":false,"seen_shared_channels_opt_in_change_message":false,"has_recently_shared_a_channel":false,"seen_channel_browser_admin_coachmark":false,"seen_administration_menu":false,"seen_drafts_section_coachmark":false,"seen_emoji_update_overlay_coachmark":false,"seen_sonic_deluxe_toast":0,"allow_calls_to_set_current_status":true,"in_interactive_mas_migration_flow":false,"sunset_interactive_message_views":0,"shdep_promo_code_submitted":false,"seen_shdep_slackbot_message":false,"seen_calls_interactive_coachmark":false,"allow_cmd_tab_iss":false,"workflow_builder_coachmarks":"{}","seen_gdrive_coachmark":false,"overloaded_message_enabled":true,"seen_highlights_coachmark":false,"seen_highlights_arrows_coachmark":false,"seen_highlights_warm_welcome":false,"seen_new_search_ui":false,"seen_channel_search":false,"seen_people_search":false,"a11y_animations":true,"seen_keyboard_shortcuts_coachmark":false,"needs_initial_password_set":false,"lessons_enabled":false,"tractor_enabled":false,"tractor_experiment_group":"","opened_slackbot_dm":false,"newxp_suggested_channels":"CLFB1SNBT,CLM7903U4","onboarding_complete":false,"welcome_place_state":"none","whocanseethis_dm_mpdm_badge":false,"highlight_words":"","threads_everything":false,"no_text_in_notifications":false,"push_show_preview":true,"growls_enabled":true,"all_channels_loud":false,"push_dm_alert":true,"push_mention_alert":true,"push_everything":false,"push_idle_wait":2,"push_sound":"b2.mp3","new_msg_snd":"knock_brush.mp3","push_loud_channels":"","push_mention_channels":"","push_loud_channels_set":"","loud_channels":"","never_channels":"","loud_channels_set":"","at_channel_suppressed_channels":"","push_at_channel_suppressed_channels":"","muted_channels":"","all_notifications_prefs":"{\"global\":{\"global_desktop\":\"mentions_dms\",\"global_mpdm_desktop\":\"everything\",\"global_mobile\":\"mentions_dms\",\"global_mpdm_mobile\":\"everything\",\"mobile_sound\":\"b2.mp3\",\"desktop_sound\":\"knock_brush.mp3\",\"global_keywords\":\"\",\"push_idle_wait\":2,\"no_text_in_notifications\":false,\"push_show_preview\":true,\"threads_everything\":false},\"channels\":[]}","growth_msg_limit_approaching_cta_count":0,"growth_msg_limit_approaching_cta_ts":0,"growth_msg_limit_reached_cta_count":0,"growth_msg_limit_reached_cta_last_ts":0,"growth_msg_limit_long_reached_cta_count":0,"growth_msg_limit_long_reached_cta_last_ts":0,"growth_msg_limit_sixty_day_banner_cta_count":0,"growth_msg_limit_sixty_day_banner_cta_last_ts":0,"growth_all_banners_prefs":"","analytics_upsell_coachmark_seen":false,"seen_app_space_coachmark":false,"seen_app_space_tutorial":false,"purchaser":false,"app_action_picker":"{
        \"enabled\": false }","show_ent_onboarding":true,"folders_enabled":false,"folder_data":"[]","seen_corporate_export_alert":false,"show_autocomplete_help":1,"deprecation_toast_last_seen":0,"deprecation_modal_last_seen":0,"failover_proxy_check_completed":0,"edge_upload_proxy_check_completed":0,"app_subdomain_check_completed":0,"add_apps_prompt_dismissed":false,"add_channel_prompt_dismissed":false,"channel_sidebar_hide_invite":false,"in_prod_surveys_enabled":true,"dismissed_installed_app_dm_suggestions":"","tz":"America\/Los_Angeles","locales_enabled":{"de-DE":"Deutsch
        (Deutschland)","en-GB":"English (UK)","en-US":"English (US)","es-ES":"Espa\u00f1ol
        (Espa\u00f1a)","es-LA":"Espa\u00f1ol (Latinoam\u00e9rica)","fr-FR":"Fran\u00e7ais
        (France)","pt-BR":"Portugu\u00eas (Brasil)","ja-JP":"\u65e5\u672c\u8a9e"}},"created":1563794188,"manual_presence":"active"},"team":{"id":"TLPREH0NS","name":"pcg79","email_domain":"","domain":"pcg79","msg_edit_window_mins":-1,"prefs":{"locale":"en-GB","invites_only_admins":false,"show_join_leave":false,"default_channels":["CLFB1SNBT","CLM7903U4","CLA9HJLQK"],"display_email_addresses":false,"slackbot_responses_disabled":false,"hide_referers":true,"msg_edit_window_mins":-1,"allow_message_deletion":true,"calling_app_name":"Slack","allow_calls":true,"allow_calls_interactive_screen_sharing":true,"display_real_names":false,"who_can_at_everyone":"regular","who_can_at_channel":"ra","who_can_create_channels":"regular","who_can_archive_channels":"regular","who_can_create_groups":"ra","who_can_manage_channel_posting_prefs":"ra","who_can_post_general":"ra","who_can_kick_channels":"admin","who_can_kick_groups":"regular","retention_type":0,"retention_duration":0,"group_retention_type":0,"group_retention_duration":0,"dm_retention_type":0,"dm_retention_duration":0,"file_retention_type":0,"file_retention_duration":0,"allow_retention_override":false,"default_rxns":["simple_smile","thumbsup","white_check_mark","heart","eyes"],"compliance_export_start":0,"warn_before_at_channel":"always","disallow_public_file_urls":false,"who_can_create_delete_user_groups":"admin","who_can_edit_user_groups":"admin","who_can_change_team_profile":"admin","subteams_auto_create_owner":false,"subteams_auto_create_admin":false,"discoverable":"unlisted","dnd_days":"every_day","invite_requests_enabled":true,"disable_file_uploads":"allow_all","disable_file_editing":false,"disable_file_deleting":false,"file_limit_whitelisted":false,"uses_customized_custom_status_presets":false,"disable_email_ingestion":false,"who_can_manage_guests":{"type":["admin"]},"who_can_create_shared_channels":"admin","who_can_manage_shared_channels":{"type":["admin"]},"who_can_post_in_shared_channels":{"type":["ra"]},"allow_shared_channel_perms_override":false,"who_can_manage_ext_shared_channels":{"type":["ORG_ADMINS_AND_OWNERS"]},"gdrive_enabled_team":false,"dropbox_legacy_picker":false,"onedrive_enabled_team":false,"can_receive_shared_channels_invites":true,"enterprise_default_channels":[],"enterprise_mandatory_channels":[],"enterprise_mdm_disable_file_download":false,"mobile_passcode_timeout_in_seconds":-1,"has_hipaa_compliance":false,"all_users_can_purchase":true,"self_serve_select":false,"loud_channel_mentions_limit":10000,"enable_shared_channels":2,"enterprise_mobile_device_check":false,"disable_sidebar_connect_prompts":[],"disable_sidebar_install_prompts":[],"block_file_download":false,"custom_contact_email":null,"dnd_enabled":true,"dnd_start_hour":"22:00","dnd_end_hour":"08:00","dnd_before_monday":"08:00","dnd_after_monday":"22:00","dnd_before_tuesday":"08:00","dnd_after_tuesday":"22:00","dnd_before_wednesday":"08:00","dnd_after_wednesday":"22:00","dnd_before_thursday":"08:00","dnd_after_thursday":"22:00","dnd_before_friday":"08:00","dnd_after_friday":"22:00","dnd_before_saturday":"08:00","dnd_after_saturday":"22:00","dnd_before_sunday":"08:00","dnd_after_sunday":"22:00","dnd_enabled_monday":"partial","dnd_enabled_tuesday":"partial","dnd_enabled_wednesday":"partial","dnd_enabled_thursday":"partial","dnd_enabled_friday":"partial","dnd_enabled_saturday":"partial","dnd_enabled_sunday":"partial","custom_status_presets":[[":spiral_calendar_pad:","In
        a meeting","In a meeting","1_hour"],[":bus:","Commuting","Commuting","30_minutes"],[":face_with_thermometer:","Off
        sick","Out sick","all_day"],[":palm_tree:","On holiday","Vacationing","no_expiration"],[":house_with_garden:","Working
        remotely","Working remotely","all_day"]],"custom_status_default_emoji":":speech_balloon:","auth_mode":"normal","who_can_manage_integrations":{"type":["regular"]},"app_whitelist_enabled":false,"invites_limit":true},"icon":{"image_34":"https:\/\/a.slack-edge.com\/d9577\/img\/avatars-teams\/ava_0002-34.png","image_44":"https:\/\/a.slack-edge.com\/d9577\/img\/avatars-teams\/ava_0002-44.png","image_68":"https:\/\/a.slack-edge.com\/d9577\/img\/avatars-teams\/ava_0002-68.png","image_88":"https:\/\/a.slack-edge.com\/d9577\/img\/avatars-teams\/ava_0002-88.png","image_102":"https:\/\/a.slack-edge.com\/d9577\/img\/avatars-teams\/ava_0002-102.png","image_132":"https:\/\/a.slack-edge.com\/d9577\/img\/avatars-teams\/ava_0002-132.png","image_230":"https:\/\/a.slack-edge.com\/d9577\/img\/avatars-teams\/ava_0002-230.png","image_default":true},"over_storage_limit":false,"messages_count":144,"plan":"","onboarding_channel_id":"CLA9HJLQK","date_create":1563794120,"limit_ts":0,"avatar_base_url":"https:\/\/ca.slack-edge.com\/"},"accept_tos_url":"https:\/\/pcg79.slack.com\/account\/tos","latest_event_ts":"1565637595.000000","channels":[{"id":"CLA9HJLQK","name":"nfl-bot","is_channel":true,"created":1563794121,"is_archived":false,"is_general":false,"unlinked":0,"creator":"ULPGULA15","name_normalized":"nfl-bot","is_shared":false,"is_org_shared":false,"has_pins":false,"is_member":true,"is_private":false,"is_mpim":false,"last_read":"1563794121.000200","members":["ULM79TRRS","ULPGULA15"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"priority":0},{"id":"CLFB1SNBT","name":"general","is_channel":true,"created":1563794120,"is_archived":false,"is_general":true,"unlinked":0,"creator":"ULPGULA15","name_normalized":"general","is_shared":false,"is_org_shared":false,"has_pins":false,"is_member":false,"is_private":false,"is_mpim":false,"previous_names":[],"priority":0},{"id":"CLM7903U4","name":"random","is_channel":true,"created":1563794120,"is_archived":false,"is_general":false,"unlinked":0,"creator":"ULPGULA15","name_normalized":"random","is_shared":false,"is_org_shared":false,"has_pins":false,"is_member":false,"is_private":false,"is_mpim":false,"previous_names":[],"priority":0}],"groups":[],"ims":[{"id":"DLM79TSR2","created":1563794188,"is_archived":false,"is_im":true,"is_org_shared":false,"user":"USLACKBOT","has_pins":false,"last_read":"0000000000.000000","is_open":true,"priority":0},{"id":"DLMMJSLBX","created":1563794188,"is_archived":false,"is_im":true,"is_org_shared":false,"user":"ULPGULA15","has_pins":false,"last_read":"0000000000.000000","is_open":true,"priority":0}],"cache_ts":1565638195,"read_only_channels":[],"non_threadable_channels":[],"thread_only_channels":[],"can_manage_shared_channels":false,"subteams":{"self":[],"all":[]},"dnd":{"dnd_enabled":false,"next_dnd_start_ts":1,"next_dnd_end_ts":1,"snooze_enabled":false},"users":[{"id":"ULM79TRRS","team_id":"TLPREH0NS","name":"nflbot","deleted":false,"color":"4bbe2e","real_name":"nflbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"nflbot","real_name_normalized":"nflbot","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"a819a90cd355","bot_id":"BLMMJSHAR","api_app_id":"","always_active":false,"image_original":"https:\/\/avatars.slack-edge.com\/2019-07-22\/701712494576_a819a90cd355c26de517_original.png","image_24":"https:\/\/avatars.slack-edge.com\/2019-07-22\/701712494576_a819a90cd355c26de517_24.png","image_32":"https:\/\/avatars.slack-edge.com\/2019-07-22\/701712494576_a819a90cd355c26de517_32.png","image_48":"https:\/\/avatars.slack-edge.com\/2019-07-22\/701712494576_a819a90cd355c26de517_48.png","image_72":"https:\/\/avatars.slack-edge.com\/2019-07-22\/701712494576_a819a90cd355c26de517_72.png","image_192":"https:\/\/avatars.slack-edge.com\/2019-07-22\/701712494576_a819a90cd355c26de517_192.png","image_512":"https:\/\/avatars.slack-edge.com\/2019-07-22\/701712494576_a819a90cd355c26de517_512.png","image_1024":"https:\/\/avatars.slack-edge.com\/2019-07-22\/701712494576_a819a90cd355c26de517_1024.png","status_text_canonical":"","team":"TLPREH0NS","is_custom_image":true},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":true,"is_app_user":false,"updated":1563794196,"presence":"away"},{"id":"ULPGULA15","team_id":"TLPREH0NS","name":"pat.george","deleted":false,"color":"9f69e7","real_name":"Pat","tz":"Europe\/London","tz_label":"British
        Summer Time","tz_offset":3600,"profile":{"title":"","phone":"","skype":"","real_name":"Pat","real_name_normalized":"Pat","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g09769352784","email":"pat.george@gmail.com","first_name":"Pat","last_name":"","image_24":"https:\/\/secure.gravatar.com\/avatar\/097693527848bfac69f3675f9e0d4b86.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2F00b63%2Fimg%2Favatars%2Fava_0025-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/097693527848bfac69f3675f9e0d4b86.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2F00b63%2Fimg%2Favatars%2Fava_0025-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/097693527848bfac69f3675f9e0d4b86.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2F00b63%2Fimg%2Favatars%2Fava_002[...]
